<{% include "header.html" %}


{% block body %}


<div class="panel=heading">

<h2>Add Employee <a class="pull-right btn btn-success" href="/">Back</a> </h2>

</div>



<div class="panel-body">

<form action="{{ url_for('processtudent') }}" method="post">
<div class="form-group">

    <label for="name">Employee Name</label>
    <input type="text" class="form-control" name="name" id="name" required = "1"  >

</div>



    <div class="form-group">

    <label for="name">Employee Designation</label>
    <input type="text" class="form-control" name="designation" id="designation" required = "1" >

</div>

     <div class="form-group">

    <label for="name">Employee Address</label>
    <input type="text" class="form-control" name="designation" id="address" required = "1" >

</div>




        <div class="form-group">

    <label for="name">Student Phone</label>
    <input type="text" class="form-control" name="phone" id="phone" required = "1"  >

</div>


    <div class="form-group">
        <input type="hidden" name="id" value="1">

     <input type="hidden" name="action" value="edit">
     <input type="submit" class="btn btn-success" name="submit" value="Add Student">

</div>


</form>


</div>



{% endblock %}






{% include "footer.html" %}